/* ===================================================================
CSS information

 File Name  : contents.css
 Author     : MIYA
 Style Info : コンテンツ内のスタイル
=================================================================== */

/*============================================================
クラス選択_モーダル
============================================================*/
#mask {
            position:absolute;
            left:0; top:0;
            z-index:9000;
            background-color:#000;
            display:none;
         }
         .window {
            position:absolute;
            left:0; top:0;
            width:440px; height:200px;
            display:none;
            z-index:9999;
            padding:20px;
         }
         #dialog {
            width:375px; height:400px;
            padding:10px;
            background-color:#fff;
         }
         /* 例2 */
         #dialog1 {
            width:375px; height:203px;
         }
         #dialog1 .d-header {
            background:url(/content/img/ajax/simple_jquery_modal_window/login-header.png) no-repeat 0 0 transparent; 
            width:375px; height:150px;
         }
         #dialog1 .d-header input {
            position:relative;
            top:60px; left:100px;
            width:200px; height:22px;
            margin:4px 0 0 0; padding:5px;
            border:3px solid #ccc;
            font-size:15px;
         }
         #dialog1 .d-blank {
            float:left;
            background:url(/content/img/ajax/simple_jquery_modal_window/login-blank.png) no-repeat 0 0 transparent; 
            width:267px; height:53px;
         }
         #dialog1 .d-login {
            float:left;
            width:108px; height:53px;
            margin:0; padding:0;
         }
         #dialog1 .d-login input {
            margin:0; padding:0;
         }
         /* 例3 */
         #dialog2 {
            background:url(/content/img/ajax/simple_jquery_modal_window/notice.png) no-repeat 0 0 transparent; 
            width:326px; height:229px;
            padding:50px 0 20px 25px;
         }
         