/* ===================================================================
CSS information

 File Name  : contents.css
 Author     : MIYA
 Style Info : コンテンツ内のスタイル
=================================================================== */
/*============================================================
設定_プロフィール変更
============================================================*/

.box{
	width:980px;
	height:auto;
    background:#FFF;
    margin:40px auto;
    
}
.settingprof{
	margin-left:7px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align:center;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*============================================================
設定_プロフィール変更_テーブル
============================================================*/

#prof_change{
	margin-left:200px;
}
th{
	font-size:16px;
	width:100px;
	height:50px;
}
td{
	width:200px;
}
/*============================================================
モーダル
============================================================*/
#mask {
            position:absolute;
            left:0; top:0;
            z-index:9000;
            background-color:#000;
            display:none;
         }
         .window {
            position:absolute;
            left:0; top:0;
            width:440px; 
            height:200px;
            display:none;
            z-index:9999;
            padding:20px;
         }
         #setting_profdialog {
            width:450px; height:400px;
            padding:10px;
            background-color:#fff;
         }
         /* 例2 */
         #setting_profdialog1 {
            width:375px; height:203px;
         }
         #setting_profdialog .d-header {
            background:url(/content/img/ajax/simple_jquery_modal_window/login-header.png) no-repeat 0 0 transparent; 
            width:375px; height:150px;
         }
         #setting_profdialog1 .d-header input {
            position:relative;
            top:60px; left:100px;
            width:200px; height:22px;
            margin:4px 0 0 0; padding:5px;
            border:3px solid #ccc;
            font-size:15px;
         }
         #setting_profdialog1 .d-blank {
            float:left;
            background:url(/content/img/ajax/simple_jquery_modal_window/login-blank.png) no-repeat 0 0 transparent; 
            width:267px; height:53px;
         }
         #setting_profdialog1 .d-login {
            float:left;
            width:108px; height:53px;
            margin:0; padding:0;
         }
         #setting_profdialog1 .d-login input {
            margin:0; padding:0;
         }
         /* 例3 */
         #setting_profdialog2 {
            background:url(/content/img/ajax/simple_jquery_modal_window/notice.png) no-repeat 0 0 transparent; 
            width:326px; height:229px;
            padding:50px 0 20px 25px;
         }

/*============================================================
設定_パスワード
============================================================*/

.box{
	width:980px;
	height:auto;
    background:#FFF;
    margin:40px auto;
    
}
.settingpass{
	margin-left:7px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align:center;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*============================================================
設定_メールアドレス
============================================================*/

.box{
	width:980px;
	height:auto;
    background:#FFF;
    margin:40px auto;
    
}
.settingmail{
	margin-left:7px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align:center;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
 
 /*============================================================
設定_通知
============================================================*/

.box{
	width:980px;
	height:auto;
    background:#FFF;
    margin:40px auto;
    
}
.settingchime{
	margin-left:7px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align:center;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*============================================================
モーダル
============================================================*/
#mask {
            position:absolute;
            left:0; top:0;
            z-index:9000;
            background-color:#000;
            display:none;
         }
         .window {
            position:absolute;
            left:0; top:0;
            width:440px; 
            height:200px;
            display:none;
            z-index:9999;
            padding:20px;
         }
         #setting_schoolchange {
            width:450px; 
            height:200px;
            padding:10px;
            background-color:#fff;
         }
         /* 例2 */
         #setting_schoolchange1 {
            width:375px; height:203px;
         }
         #setting_schoolchange .d-header {
            background:url(/content/img/ajax/simple_jquery_modal_window/login-header.png) no-repeat 0 0 transparent; 
            width:375px; height:150px;
         }
         #setting_schoolchange1 .d-header input {
            position:relative;
            top:60px; left:100px;
            width:200px; height:22px;
            margin:4px 0 0 0; padding:5px;
            border:3px solid #ccc;
            font-size:15px;
         }
         #setting_schoolchange1 .d-blank {
            float:left;
            background:url(/content/img/ajax/simple_jquery_modal_window/login-blank.png) no-repeat 0 0 transparent; 
            width:267px; height:53px;
         }
         #setting_schoolchange1 .d-login {
            float:left;
            width:108px; height:53px;
            margin:0; padding:0;
         }
         #setting_schoolchange1 .d-login input {
            margin:0; padding:0;
         }
         /* 例3 */
         #setting_schoolchange2 {
            background:url(/content/img/ajax/simple_jquery_modal_window/notice.png) no-repeat 0 0 transparent; 
            width:326px; height:229px;
            padding:50px 0 20px 25px;
         }