/* ===================================================================
CSS information

 File Name  : contents.css
 Author     : MIYA
 Style Info : コンテンツ内のスタイル
=================================================================== */

/*============================================================
マイページ_生徒
============================================================*/
#student_attend{
		 border: 1px solid #000;
		 margin-left:30px;
		 text-align:center;
}

/*============================================================
マイページ_グラフ
============================================================*/
#chart {
    position: relative;
    width: 400px;
}
#chart .count {
    position: absolute;
    top: 0;
    left:0 ;
    width: 100%;
    text-align: right;
}
#chart em, 
#chart span {
    font-family: Arial;
    width: 100%;
    text-align: center;

}
#chart .o {
    font-size: 7px;
   vertical-align: top; 
}
#chart .c {
    vertical-align: top;
    font-size: 30px;
}
/* "240,021" */
#chart em {
    font-size: 50px;
    line-height: 30px;
    font-weight: bold;
    font-style: normal;
    color: #fff;
}
/* "USERS" */
#chart .caption {
    color: #eee;
    font-size: 12px;
}

/*============================================================
マイページ_授業別テーブル
============================================================*/
#student_tuition{
	border: 1px solid #000;
}
th.ex3{
	border: 1px solid #000;
	width:120px;
	heght:30px;
	background-color:#87cefa;
}
th.ex4{
	border: 1px solid #000;
	width:180px;
	height:20px;
}
/*============================================================
マイページ_詳細テーブル
============================================================*/
#student_tuition{
	border: 1px solid #000;
}
th.ex5{
	border: 1px solid #000;
	width:1000px;
	background-color:#87cefa;
}
th.ex6{
	border: 1px solid #000;
	width:1000px;
	height:100px;
}

td.ex7{
	width:50px;
	text-align:center;
}
td.ex8{
	width:50px;
}

/* テーブル
----------------------------------------------------------*/

.box{
	width:980px;
	height:auto;
    background:#FFF;
    margin:20px auto;
}
.class_attendstate{
	margin-left:7px;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
th.ex1{
	width:95px;
}
td.ex2{
	text-align:right;
	padding-right:10px;
}

#class_attendstate_all{
	 border: 1px solid #000;
	 width:95%;
	 margin: 0 auto;
}
#class_attendstate_all th{
	 border: 1px solid #000;
}
#class_attendstate_all td{
	 border: 1px solid #000;
}

/* ボタン
----------------------------------------------------------*/
#monthdown{
	background:none;
	border:0;
	font-size:1em;
}
#monthdown:hover {
	color: #b0b0b0;
	cursor: pointer;
}
#monthup{
	background:none;
	border:0;
	font-size:1em;
}
#monthup:hover {
	color: #b0b0b0;
	cursor: pointer;
}
#yeardown{
	background:none;
	border:0;
	font-size:1em;
}
#yeardown:hover {
	color: #b0b0b0;
	cursor: pointer;
}
#yearup{
	background:none;
	border:0;
	font-size:1em;
}
#yearup:hover {
	color: #b0b0b0;
	cursor: pointer;
}
/* アバター
----------------------------------------------------------*/
#abater{
	margin-left:700px;
}

/* でっっかく表示
----------------------------------------------------------*/

#sp{
	width:200px;
	height: 100px;
	margin: 10px 0px 0px 700px;
	border: 5px double #333333;
	border-radius: 10px;
	text-align:center;
	vertical-align:middle;
	color: #ff0000;
	font-size: 4em;
	background-color: #FFFFFF;
}
#pa{
	position: relative;
	top:-10px;
}

