/* ===================================================================
CSS information

 File Name  : contents.css
 Author     : MIYA
 Style Info : コンテンツ内のスタイル
=================================================================== */
/*============================================================
設定_プロフィール変更
============================================================*/

.box{
	width:980px;
	height:auto;
    background:#FFF;
    margin:40px auto;
    
}
.settingprof{
	margin-left:7px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align:center;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*============================================================
設定_プロフィール変更_テーブル
============================================================*/

#prof_change{
	margin-left:200px;
}
th{
	font-size:16px;
	width:100px;
	height:50px;
}
td{
	width:200px;
}
/*============================================================
モーダル
============================================================*/
#mask {
            position:absolute;
            left:0; top:0;
            z-index:9000;
            background-color:#000;
            display:none;
         }
         .window {
            position:absolute;
            left:0; top:0;
            width:440px; 
            height:200px;
            display:none;
            z-index:9999;
            padding:20px;
         }
         #setting_profdialog {
            width:450px; height:400px;
            padding:10px;
            background-color:#fff;
         }
         /* 例2 */
         #setting_profdialog1 {
            width:375px; height:203px;
         }
         #setting_profdialog .d-header {
            background:url(/content/img/ajax/simple_jquery_modal_window/login-header.png) no-repeat 0 0 transparent; 
            width:375px; height:150px;
         }
         #setting_profdialog1 .d-header input {
            position:relative;
            top:60px; left:100px;
            width:200px; height:22px;
            margin:4px 0 0 0; padding:5px;
            border:3px solid #ccc;
            font-size:15px;
         }
         #setting_profdialog1 .d-blank {
            float:left;
            background:url(/content/img/ajax/simple_jquery_modal_window/login-blank.png) no-repeat 0 0 transparent; 
            width:267px; height:53px;
         }
         #setting_profdialog1 .d-login {
            float:left;
            width:108px; height:53px;
            margin:0; padding:0;
         }
         #setting_profdialog1 .d-login input {
            margin:0; padding:0;
         }
         /* 例3 */
         #setting_profdialog2 {
            background:url(/content/img/ajax/simple_jquery_modal_window/notice.png) no-repeat 0 0 transparent; 
            width:326px; height:229px;
            padding:50px 0 20px 25px;
         }

/*============================================================
設定_パスワード
============================================================*/

.box{
	width:980px;
	height:auto;
    background:#FFF;
    margin:40px auto;
    
}
.settingpass{
	margin-left:7px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align:center;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

/*============================================================
設定_メールアドレス
============================================================*/

.box{
	width:980px;
	height:auto;
    background:#FFF;
    margin:40px auto;
    
}
.settingmail{
	margin-left:7px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align:center;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
 
 /*============================================================
設定_通知
============================================================*/

.box{
	width:980px;
	height:auto;
    background:#FFF;
    margin:40px auto;
    
}
.settingchime{
	margin-left:7px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align:center;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

 /*============================================================
設定_時間割
============================================================*/

.box{
	width:980px;
	height:auto;
    background:#FFF;
    margin:40px auto;
    
}
.settingtimetable{
	margin-left:7px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align:center;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

 /*============================================================
設定_名簿
============================================================*/

.box{
	width:980px;
	height:auto;
    background:#FFF;
    margin:40px auto;
    
}
.settingclasslist{
	margin-left:7px;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    text-align:center;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}
/*
名簿*/
#classlist{
	margin-right:700px;
	height:500px;
	width:150px;
}

/* ボタン_削除
----------------------------------------------------------*/
.btn_delete {
	margin:5px;
	float:left;
	margin-left:320px;
	margin-top:-400px;
	display: inline-block;
	width: 130px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #ff0000;
	border: 2px solid #ff0000;
	color: #fff;
}
.btn_delete::before,
.btn_delete::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.btn_delete,
.btn_delete::before,
.btn_delete::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn_delete:hover {
	background-color: #fff;
	border-color: #ff0000;
	color: #ff0000;
}

/* ボタン_転科
----------------------------------------------------------*/
.btn_changedele {
	margin:5px;
	float:left;
	margin-left:650px;
	margin-top:-400px;
	display: inline-block;
	width: 130px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #ff0000;
	border: 2px solid #ff0000;
	color: #fff;
}
.btn_changedele::before,
.btn_changedele::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.btn_changedele,
.btn_changedele::before,
.btn_changedele::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn_changedele:hover {
	background-color: #fff;
	border-color: #ff0000;
	color: #ff0000;
}

/* ボタン_留年
----------------------------------------------------------*/
.btn_proffe {
	margin:5px;
	float:left;
	margin-left:320px;
	margin-top:-200px;
	display: inline-block;
	width: 130px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #ff0000;
	border: 2px solid #ff0000;
	color: #fff;
}
.btn_proffe::before,
.btn_proffe::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.btn_proffe,
.btn_proffe::before,
.btn_proffe::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn_proffe:hover {
	background-color: #fff;
	border-color: #ff0000;
	color: #ff0000;
}

/* ボタン_学年の繰り上げ
----------------------------------------------------------*/
.btn_carry {
	margin:5px;
	float:left;
	margin-left:650px;
	margin-top:-200px;
	display: inline-block;
	width: 130px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #ff0000;
	border: 2px solid #ff0000;
	color: #fff;
}
.btn_carry::before,
.btn_carry::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.btn_carry,
.btn_carry::before,
.btn_carry::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn_carry:hover {
	background-color: #fff;
	border-color: #ff0000;
	color: #ff0000;
}

/* ボタン_全削除
----------------------------------------------------------*/
.btn_alldele {
	margin:5px;
	margin-right:705px;
	margin-top:30px;
	display: inline-block;
	width: 130px;
	height: 30px;
	text-align: center;
	text-decoration: none;
	outline: none;
	background-color: #ff0000;
	border: 2px solid #ff0000;
	color: #fff;
}
.btn_alldele::before,
.btn_alldele::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.btn_alldele,
.btn_alldele::before,
.btn_alldele::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
.btn_alldele:hover {
	background-color: #fff;
	border-color: #ff0000;
	color: #ff0000;
}

/*
削除モーダル
***********/
#mask {
            position:absolute;
            left:0; top:0;
            z-index:9000;
            background-color:#000;
            display:none;
         }
         .window {
            position:absolute;
            left:0; top:0;
            width:440px; 
            height:200px;
            display:none;
            z-index:9999;
            padding:20px;
         }
         #setting_delete {
            width:auto; 
            height:400px;
            padding:10px;
            background-color:#fff;
            text-align:center;
         }
         /* 例2 */
         #setting_delete1 {
            width:375px; height:203px;
         }
         #setting_delete .d-header {
            background:url(/content/img/ajax/simple_jquery_modal_window/login-header.png) no-repeat 0 0 transparent; 
            width:375px; height:150px;
         }
         #setting_delete1 .d-header input {
            position:relative;
            top:60px; left:100px;
            width:200px; height:22px;
            margin:4px 0 0 0; padding:5px;
            border:3px solid #ccc;
            font-size:15px;
         }
         #setting_delete1 .d-blank {
            float:left;
            background:url(/content/img/ajax/simple_jquery_modal_window/login-blank.png) no-repeat 0 0 transparent; 
            width:267px; height:53px;
         }
         #setting_delete1 .d-login {
            float:left;
            width:108px; height:53px;
            margin:0; padding:0;
         }
         #setting_delete1 .d-login input {
            margin:0; padding:0;
         }
         /* 例3 */
         #setting_delete2 {
            background:url(/content/img/ajax/simple_jquery_modal_window/notice.png) no-repeat 0 0 transparent; 
            width:326px; height:229px;
            padding:50px 0 20px 25px;
         }
         
/*
転科モーダル
***********/
#mask {
            position:absolute;
            left:0; top:0;
            z-index:9000;
            background-color:#000;
            display:none;
         }
         .window {
            position:absolute;
            left:0; top:0;
            width:440px; 
            height:200px;
            display:none;
            z-index:9999;
            padding:20px;
         }
         #setting_changedele {
            width:auto; 
            height:400px;
            padding:10px;
            background-color:#fff;
            text-align:center;
         }
         /* 例2 */
         #setting_changedele1 {
            width:375px; height:203px;
         }
         #setting_changedele .d-header {
            background:url(/content/img/ajax/simple_jquery_modal_window/login-header.png) no-repeat 0 0 transparent; 
            width:375px; height:150px;
         }
         #setting_changedele1 .d-header input {
            position:relative;
            top:60px; left:100px;
            width:200px; height:22px;
            margin:4px 0 0 0; padding:5px;
            border:3px solid #ccc;
            font-size:15px;
         }
         #setting_changedele1 .d-blank {
            float:left;
            background:url(/content/img/ajax/simple_jquery_modal_window/login-blank.png) no-repeat 0 0 transparent; 
            width:267px; height:53px;
         }
         #setting_changedele1 .d-login {
            float:left;
            width:108px; height:53px;
            margin:0; padding:0;
         }
         #setting_changedele1 .d-login input {
            margin:0; padding:0;
         }
         /* 例3 */
         #setting_changedele2 {
            background:url(/content/img/ajax/simple_jquery_modal_window/notice.png) no-repeat 0 0 transparent; 
            width:326px; height:229px;
            padding:50px 0 20px 25px;
         }
         
/*
留年モーダル
***********/
#mask {
            position:absolute;
            left:0; top:0;
            z-index:9000;
            background-color:#000;
            display:none;
         }
         .window {
            position:absolute;
            left:0; top:0;
            width:440px; 
            height:200px;
            display:none;
            z-index:9999;
            padding:20px;
         }
         #setting_proffe {
            width:auto; 
            height:400px;
            padding:10px;
            background-color:#fff;
            text-align:center;
         }
         /* 例2 */
         #setting_proffe1 {
            width:375px; height:203px;
         }
         #setting_proffe .d-header {
            background:url(/content/img/ajax/simple_jquery_modal_window/login-header.png) no-repeat 0 0 transparent; 
            width:375px; height:150px;
         }
         #setting_proffe1 .d-header input {
            position:relative;
            top:60px; left:100px;
            width:200px; height:22px;
            margin:4px 0 0 0; padding:5px;
            border:3px solid #ccc;
            font-size:15px;
         }
         #setting_proffe1 .d-blank {
            float:left;
            background:url(/content/img/ajax/simple_jquery_modal_window/login-blank.png) no-repeat 0 0 transparent; 
            width:267px; height:53px;
         }
         #setting_proffe1 .d-login {
            float:left;
            width:108px; height:53px;
            margin:0; padding:0;
         }
         #setting_proffe1 .d-login input {
            margin:0; padding:0;
         }
         /* 例3 */
         #setting_proffe2 {
            background:url(/content/img/ajax/simple_jquery_modal_window/notice.png) no-repeat 0 0 transparent; 
            width:326px; height:229px;
            padding:50px 0 20px 25px;
         }
         
/*
繰り上げモーダル
***********/
#mask {
            position:absolute;
            left:0; top:0;
            z-index:9000;
            background-color:#000;
            display:none;
         }
         .window {
            position:absolute;
            left:0; top:0;
            width:440px; 
            height:200px;
            display:none;
            z-index:9999;
            padding:20px;
         }
         #setting_carry {
            width:auto; 
            height:400px;
            padding:10px;
            background-color:#fff;
            text-align:center;
         }
         /* 例2 */
         #setting_carry1 {
            width:375px; height:203px;
         }
         #setting_carry .d-header {
            background:url(/content/img/ajax/simple_jquery_modal_window/login-header.png) no-repeat 0 0 transparent; 
            width:375px; height:150px;
         }
         #setting_carry1 .d-header input {
            position:relative;
            top:60px; left:100px;
            width:200px; height:22px;
            margin:4px 0 0 0; padding:5px;
            border:3px solid #ccc;
            font-size:15px;
         }
         #setting_carry1 .d-blank {
            float:left;
            background:url(/content/img/ajax/simple_jquery_modal_window/login-blank.png) no-repeat 0 0 transparent; 
            width:267px; height:53px;
         }
         #setting_carry1 .d-login {
            float:left;
            width:108px; height:53px;
            margin:0; padding:0;
         }
         #setting_carry1 .d-login input {
            margin:0; padding:0;
         }
         /* 例3 */
         #setting_carry2 {
            background:url(/content/img/ajax/simple_jquery_modal_window/notice.png) no-repeat 0 0 transparent; 
            width:326px; height:229px;
            padding:50px 0 20px 25px;
         }
         
/*
全削除モーダル
***********/
#mask {
            position:absolute;
            left:0; top:0;
            z-index:9000;
            background-color:#000;
            display:none;
         }
         .window {
            position:absolute;
            left:0; top:0;
            width:440px; 
            height:200px;
            display:none;
            z-index:9999;
            padding:20px;
         }
         #setting_alldele {
            width:auto; 
            height:400px;
            padding:10px;
            background-color:#fff;
            text-align:center;
         }
         /* 例2 */
         #setting_alldele1 {
            width:375px; height:203px;
         }
         #setting_alldele .d-header {
            background:url(/content/img/ajax/simple_jquery_modal_window/login-header.png) no-repeat 0 0 transparent; 
            width:375px; height:150px;
         }
         #setting_alldele1 .d-header input {
            position:relative;
            top:60px; left:100px;
            width:200px; height:22px;
            margin:4px 0 0 0; padding:5px;
            border:3px solid #ccc;
            font-size:15px;
         }
         #setting_alldele1 .d-blank {
            float:left;
            background:url(/content/img/ajax/simple_jquery_modal_window/login-blank.png) no-repeat 0 0 transparent; 
            width:267px; height:53px;
         }
         #setting_alldele1 .d-login {
            float:left;
            width:108px; height:53px;
            margin:0; padding:0;
         }
         #setting_alldele1 .d-login input {
            margin:0; padding:0;
         }
         /* 例3 */
         #setting_alldele2 {
            background:url(/content/img/ajax/simple_jquery_modal_window/notice.png) no-repeat 0 0 transparent; 
            width:326px; height:229px;
            padding:50px 0 20px 25px;
         }
         
 /*============================================================
設定_学校名前変更
============================================================*/

/* --- 学校ボタン --- */
.schoolname-button {
	width:auto;
	height:40px;
	font-size:15px;
	position: relative;
	background-color: #1abc9c;
	border-radius: 4px;
	color: #fff;
	line-height: px;
	-webkit-transition: none;
	transition: none;
	box-shadow: 0 3px 0 #0e8c73;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.schoolname-button:hover {
	background-color: #31c8aa;
	box-shadow: 0 3px 0 #23a188;
}
.schoolname-button:active {
	top: 3px;
	box-shadow: none;
}

/* --- 学校名前テーブル --- */

#schoolname{
	width:600px;
	margin-left:220px;

}
td.leftschool{
	text-align:left;
	height:60px;
}
td.rightschool{
	text-align:left;
}

/*============================================================
モーダル
============================================================*/
#mask {
            position:absolute;
            left:0; top:0;
            z-index:9000;
            background-color:#000;
            display:none;
         }
         .window {
            position:absolute;
            left:0; top:0;
            width:440px; 
            height:200px;
            display:none;
            z-index:9999;
            padding:20px;
         }
         #setting_schoolchange {
            width:450px; 
            height:200px;
            padding:10px;
            background-color:#fff;
         }
         /* 例2 */
         #setting_schoolchange1 {
            width:375px; height:203px;
         }
         #setting_schoolchange .d-header {
            background:url(/content/img/ajax/simple_jquery_modal_window/login-header.png) no-repeat 0 0 transparent; 
            width:375px; height:150px;
         }
         #setting_schoolchange1 .d-header input {
            position:relative;
            top:60px; left:100px;
            width:200px; height:22px;
            margin:4px 0 0 0; padding:5px;
            border:3px solid #ccc;
            font-size:15px;
         }
         #setting_schoolchange1 .d-blank {
            float:left;
            background:url(/content/img/ajax/simple_jquery_modal_window/login-blank.png) no-repeat 0 0 transparent; 
            width:267px; height:53px;
         }
         #setting_schoolchange1 .d-login {
            float:left;
            width:108px; height:53px;
            margin:0; padding:0;
         }
         #setting_schoolchange1 .d-login input {
            margin:0; padding:0;
         }
         /* 例3 */
         #setting_schoolchange2 {
            background:url(/content/img/ajax/simple_jquery_modal_window/notice.png) no-repeat 0 0 transparent; 
            width:326px; height:229px;
            padding:50px 0 20px 25px;
         }